* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url(pea.jpg);

  background-size: cover;

  grid-template-columns: repeat(7, 1rf);
}
.arama {
  grid-area: 1/ 1/2/5;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arama input {
  padding: 1.4rem;
  margin: 3rem 0 0 15rem;
  font-size: 1.2rem;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.712);

  border: solid 3px rgb(255, 255, 255);
  text-align: center;
  color: white;
}

.buton {
  grid-area: 1/5/2/6;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buton button {
  padding: 1.4rem 0;
  border-radius: 30px;
  font-size: 1.2rem;
  margin: 3rem 1rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.644);

  border: solid 3px rgb(0, 0, 0);
}
.konum {
  grid-area: 1/6/2/7;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.konum button {
  padding: 1.4rem 0;
  border-radius: 30px;
  font-size: 1.2rem;
  margin: 3rem 15rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.644);

  border: solid 3px rgb(0, 0, 0);
}
.sonuc {
  grid-column: 1/7;
  /* background-color: rgb(255, 0, 21); */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 40px 5rem;
  background-color: rgba(182, 180, 180, 0.671);
  border-radius: 2rem;
}
/* .sonuc2 {
  grid-area: 3/1/4/7;
  background-color: rgb(17, 32, 32);
}
.sonuc3 {
  grid-area: 4/1/5/7;
  background-color: rgb(0, 255, 42);
} */
.günler {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 40px;
}

.derece {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.sıcaklık {
  font-size: 4rem;
}
.c {
  font-size: 1.5rem;
}
.durum {
  font-size: 1.5rem;
}
.tarih {
  margin: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.sehir {
  margin: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  height: 1rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.a {
  grid-column: 1/7;
}
